*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */

header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.testa{
    justify-content: space-between;
}

.testa, .t-sin, .t-dx{
    display: flex;
    align-items: center;
}

div > *{
    margin: 30px 30px 25px 5px;
}

#inizia{
    background-color: #2361FF;
    color: white;
    padding: 10px 15px;
    border: none;
}

/* main */

/* Titolone */
section{
    background-color: #B4D0E7;
    padding-top: 100px;
}





