*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */

header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.testa{
    justify-content: space-between;
}

.testa, .t-sin, .t-dx{
    display: flex;
    align-items: center;
}

.margin-ok > *{
    margin: 30px 30px 25px 5px;
}

.botton-blue{
    background-color: #2361FF;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-right: 5px;
}

/* main */

/* Titolone */
section{
    background-color: #B4D0E7;
    padding-top: 200px;
}

.pt-1{
    width: 65%;
    margin: auto;
}

h1{
    font-size: 5.5rem;
}

i{
    font-size: 3rem;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.container-sx{
    font-size: 1.2rem;
    flex-basis: 40%;
}

.container-dx{
    flex-basis: 60%;
}

.container-dx > img{
    width: 100%;
}







